<!DOCTYPE html>
<html>
<head>
	<title>YelpCamp</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">	
	
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">	
<!-- BOOTSTRAP V.4
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	 -->

</head>
<body>
	
<!--Navbar v.3-->
<nav class = "navbar navbar-default">
	<div class = "container-fluid">
		<div class = "navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo"aria-			expanded="false">
				<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
			</button>
			<a class = "navbar-brand" href="/">YelpCamp</a>
		</div>
		<!--Navbar Collapse-->
		<div class = "collapse navbar-collapse" id = "bs-nav-demo">
			<ul class="nav navbar-nav">
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if(!currentUser){ %>
					<li><a href="/register">Sign Up</a></li>
					<li><a href="/login">Login</a></li>
				<% }else{ %>
					<li><a href="#">Signed In As <%= currentUser.username %></a></li>
					<li><a href="/logout">Logout</a></li>
				<% }; %>
				
			</ul>
		</div>
	</div>
</nav>
	
	<div class="container">
		<% if(errorMessageVar && errorMessageVar.length > 0){ %>
			<div class="alert alert-danger" role="alert">
			<%= errorMessageVar %>
			</div>
		<% } %>
		<% if(successMessageVar && successMessageVar.length > 0){ %>
			<div class="alert alert-success" role="alert">
			<%= successMessageVar %>
			</div>
		<% } %>
	</div>
	
	



