<% include ../partials/header %>

<div>
	<div class="row">
		<h1 style="text-align: center;">Register New Account</h1>
			<div style="width: 30%; margin: 25px auto;" >
				<form action = "/register" method= "POST">
					<div class ="form-group">
						<label>Username</label>
						<input class= "form-control" type= "text" placeholder= "username" name= "username">
					</div>
					<div class ="form-group">
						<label>Password</label>
						<input class= "form-control" type= "text" placeholder= "password" name= "password">
					</div>
					<div class ="form-group">
						<button class= "btn btn-lg btn-primary btn-block">SUBMIT</button>
					</div>
				</form>
				<a href="/">Go Back</a>
		   </div>	
	</div>
</div>
<% include ../partials/footer %>