<% include ../partials/header %>

<div>
	<div class="row">
		<h1 style="text-align: center;">Add a new comment to <%= foundCampgroundVar.name %> </h1>
			<div style="width: 30%; margin: 25px auto;" >
				<form action = "/campgrounds/<%= foundCampgroundVar._id %>/comments" method= "POST">
					<div class ="form-group">
						<input class = "form-control" type = "text" placeholder = "text" name = "comment[text]">
					</div>
					<div class ="form-group">
						<button class = "btn btn-lg btn-primary btn-block">SUBMIT</button>
					</div>
				</form>
				<a href="/campgrounds">Go Back</a>
		   </div>	
	</div>
</div>
<% include ../partials/footer %>