<% include ../partials/header %>

<div>
	<div class="row">
		<h1 style="text-align: center;">Edit <%= foundCampgroundVar.name %></h1>
			<div style="width: 30%; margin: 25px auto;" >
				<form action = "/campgrounds/<%= foundCampgroundVar._id %>?_method=PUT" method= "POST">
					<div class ="form-group">
<input class= "form-control" type= "text" name= "campground[name]" value="<%= foundCampgroundVar.name%>">
					</div>
					<div class ="form-group">
<input class= "form-control" type = "text" name= "campground[image]" value="<%= foundCampgroundVar.image%>">
					</div>
					<div class ="form-group">
<input class="form-control" type="number" name= "campground[price]" value="<%=foundCampgroundVar.price%>" min="0.01" step="0.01">
					</div>
					<div class ="form-group">
<input class= "form-control" type = "text" name= "campground[description]" value="<%= foundCampgroundVar.description%>">
					</div>
					<div class ="form-group">
						<button class = "btn btn-lg btn-primary btn-block">Submit Changes</button>
					</div>
				</form>
				<a href="/campgrounds">Go Back</a>
		   </div>	
	</div>
</div>
<% include ../partials/footer %>