<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<h1>Welcome To YelpCamp!</h1>
		<p>View our handpicked campgrounds from all over the world! Sign in to create your own</p>
		<p><a class="btn btn-primary" href="/campgrounds/new" role="button">Add New Campground</a></p>
	</header>
	
	<h3>Our Most Popular Campgrounds!</h3>
	
	<div class = "row text-center" style="display:flex; flex-wrap: wrap;">
		<% campgroundsVar.forEach(function(content){ %>
			<div class = "col-md-3 col-sm-6">
				<div class = "thumbnail">	
					<img src="<%= content.image %>">
					<div>
						<h4><%= content.name %></h4>
					</div>
					<p> <a href ="/campgrounds/<%= content._id %>" class = "btn btn-primary"> More Info <a/></p>
				</div>
			</div>
		<% }); %>
	</div>	
</div>
<% include ../partials/footer %>