<% include ../partials/header %>

<div>
	<div class="row">
		<h1 style="text-align: center;">Create a New Campground</h1>
			<div style="width: 30%; margin: 25px auto;" >
				<form action = "/campgrounds" method= "POST">
					<div class ="form-group">
						<input class = "form-control" type = "text" placeholder = "name" name = "campground[name]">
					</div>
					<div class ="form-group">
						<input class = "form-control" type = "text" placeholder = "image" name = "campground[image]">
					</div>
					<div class ="form-group">
	<input class="form-control" type="number" placeholder="price" name="campground[price]" min="0.01" step="0.01">
					</div>
					<div class ="form-group">
			<input class = "form-control" type = "text" placeholder = "description" name = "campground[description]">
					</div>
					<div class ="form-group">
						<button class = "btn btn-lg btn-primary btn-block">SUBMIT</button>
					</div>
				</form>
				<a href="/campgrounds">Go Back</a>
		   </div>	
	</div>
</div>
<% include ../partials/footer %>