<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="leader">YelpCamp</p>
			<div class="list-group">
				<li class="list-group-item">Info 1</li>
				<li class="list-group-item">Info 1</li>
				<li class="list-group-item">Info 1</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src= "<%= foundCampgroundVar.image %>">
				<div class="caption-full">
					<h4 class="pull-right">$<%=foundCampgroundVar.price%> per night</h4>
					<h4><%= foundCampgroundVar.name %></h4>
					<p><%= foundCampgroundVar.description %></p>
					<p>Submitted by <%= foundCampgroundVar.author.username %></p>		
					
					<!-- hiding edit and delete button if no user logged in or user not author -->
					<% if(currentUser && currentUser._id.equals(foundCampgroundVar.author.id)){ %>
					<a href="/campgrounds/<%= foundCampgroundVar._id %>/edit" class="btn btn-warning">Edit</a>
<form id="delete-article-form"
			  		action="/campgrounds/<%=foundCampgroundVar._id%>?_method=DELETE" method="POST">
					<button class="btn btn-danger">Delete</button>
		</form>
					<% } %>
					
				</div>
			</div>
			
			<div class="well">
			<div class="text-right"><a href="/campgrounds/<%= foundCampgroundVar._id %>/comments/new" class="btn btn-success">New Comment</a></div>
				<hr>
			<% foundCampgroundVar.comments.forEach(function(x){ %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= x.author.username %></strong>
						<span class="pull-right">10 days ago</span>
						<p><%= x.text %></p>
						
			<% if(currentUser && currentUser._id.equals(x.author.id)){ %>	
			<a class="btn btn-xs btn-warning"
				href="/campgrounds/<%=foundCampgroundVar._id%>/comments/<%= x._id %>/edit">Edit
			</a>
			<form id="delete-comment-form" 
	  				action="/campgrounds/<%= foundCampgroundVar._id %>/comments/<%= x._id %>?_method=DELETE" method="POST">
					<button class="btn btn-xs btn-danger">Delete</button>
			</form>
			<% } %>			
					</div>
				</div>
			<% }) %>
			</div>
		</div>
	</div>
</div>



	
	
	

<% include ../partials/footer %>