.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0px;
};

.thumbnail .caption-full{
	padding: 9px;
} 

background{
	color: purple;
}

#delete-article-form{
	display: inline;
}

#delete-comment-form{
	display: inline;
}